body {
	font-family: Meiryo;
}

a {
	color: black;
}

div.inner {
	margin: 0 auto;
	width: 80%;
}

header {
	background-color: rgba(255, 255, 255, 0.7);
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

header div.inner {
	display: flex;
	justify-content: space-between;
}

header div.inner h1 {
	font-size: 30px;
	line-height: 60px;
}

header div.inner ul {
	display: flex;
	justify-content: end;
}

header div.inner ul li {
	margin-left: 35px;
}

header div.inner ul li a {
	font-size: 15px;
	line-height: 60px;
}

main {
	padding-top: 60px;
}

main section#thumnail {
	background-color: #30a3b3;
	height: 530px;
	position: relative;
	width: 100%;
}

main section#thumnail h2 {
	-webkit-transform: translate(-50%, -50%);
	font-family: RyuminPr5-Light;
	font-size: 70px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

main section#about div.inner {
	padding-top: 75px;
}

main section#about div.inner h2 {
	font-family: Ubuntu;
	font-size: 40px;
	margin-bottom: 35px;
	text-align: center;
}

main section#about div.inner div#about-contents {
	display: flex;
	justify-content: space-between;
}

main section#about div.inner div#about-contents div#profile img {
	border-radius: 4px;
	display: block;
	height: auto;
	width: 550px;
}

main section#about div.inner div#about-contents div#profile ul {
	margin: 20px auto;
	width: 150px;
}

main section#about div.inner div#about-contents div#profile ul li {
	color: #464646;
	font-size: 14px;
}

main section#about div.inner div#about-contents div#description {
	padding-right: 100px;
	width: 400px;
}

main section#about div.inner div#about-contents div#description p {
	font-family: JJSYuGoPr6N-Regular;
	font-size: 18px;
	text-align: center;
}

.fadein {
	-webkit-transform: translateY(20px);
	opacity: 0;
	transform: translateY(20px);
	transition: all 1s;
}

